<div class="container">
<%= simple_form_for(@partner) do |f| %>
  <%= f.input :name %>
  <%= f.input :gender %>
  <%= f.input :duty %>
  <%= f.input :description %>
  <%= f.input :age %>
  <%= f.submit %>
<% end %>
<%= link_to 'Partner', partner_path %>
</div>

<%= "need to add somethin to push and pull" %>
