
<div class="card-partner">
  <div class="row justify-content-center">

    <h1><strong><%= @partner.name %></strong></h1>
    <br>
    <p><%= @partner.age %></p>
    <p><%= @partner.gender %></p>
    <p><%= @partner.description %></p>
    <p><%= @partner.duty %></p>

    <hr>
    <%= link_to "Book Now!", "/partners/#{@partner.id}/bookings/new" %>

  </div>
</div>



<%#= link_to "Edit" %>
<%#= lint_to "Delete" %>
