<div class="card-dashboard">
  <h1> Dashboard</h1>
  <div class="dashboard-view1">
  <h3>Your Last Booking</h3>
    <div class="booking-description">
      <strong>Starttime:</strong>
      <p><%= @lastbooking.start_time %></p>
      <strong>Endtime:</strong>
      <p><%= @lastbooking.end_time %></p>
      <strong>Date:</strong>
      <p><%= @lastbooking.date %></p>
    </div>
  </div>
  <div class="dashboard-view2">
    <h3>Your Bookings</h3>
    <% @bookings.each do |booking| %>
    <div>
    <p><strong>Name:</strong></p>
    <p><%= booking.partner.name %></p>
    <% if booking.partner.photo.attached?%>
          <%= cl_image_tag booking.partner.photo.key, height: 300, width: 400, crop: :fill %>
        <% else booking.partner.url_photo%>
          <p><%= cl_image_tag booking.partner.url_photo, height: 300, width: 400 %></p>
        <% end %>
    </div>
    <div>
      <strong>Starttime:</strong>
      <p><%= booking.start_time %></p>
      <strong>Endtime:</strong>
      <p><%= booking.end_time %></p>
      <strong>Date:</strong>
      <p><%= booking.date %></p>
    </div>
    <p>------------------------------------------------</p>
    <% end %>
  </div>
<%= link_to "keep pimping", partners_path, class: "btn btn-ghost" %>
</div>
